@model CellPhone.Models.Order
@{
    ViewBag.Title = "Hoá đơn";
    var cul = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="d-flex align-items-center flex-column">
    <div class="row w-75">
        <div class="col-sm-6">
            <div>
                <div class="mb-3 mt-4">Xin chào, @(Model.Customer!.CustomerName)</div>
                <span>Cảm ơn bạn đã mua hàng</span>
            </div>
        </div>
        <div class="col-sm-6 d-flex flex-column align-items-end">
            <div class="mb-3 text-success" style="font-size: 30px;">INVOICE</div>
            <div>@(DateTime.Now.ToString("dd-MM-yyyy"))</div>
        </div>
    </div>

    <div style="margin-top: 50px;" class="w-75">
        <table class="table">
            <thead align="center">
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody align="center">
                @if (Model.OrderItems != null)
                {
                    foreach (var orderItem in Model.OrderItems)
                    {
                        if (orderItem.Product != null)
                        {
                            <tr>
                                <td>@(orderItem.Product.ProductName!.ToUpper())</td>
                                <td>@(orderItem.Product.ProductPrice.ToString("#,###0", cul.NumberFormat) + " ₫")</td>
                                <td>@(orderItem.Quantity)</td>
                                <td>@((orderItem.Quantity * orderItem.Product.ProductPrice).ToString("#,###0", cul.NumberFormat) + " ₫")</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="w-75 d-flex justify-content-end">
        <div style="width: 40%;">
            <div class="mb-3 d-flex justify-content-between">
                <label>Tạm tính: </label>
                <span>@(Model.TotalWithoutDiscount!.Value.ToString("#,###0", cul.NumberFormat) + " ₫")</span>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <label>Giảm giá:</label>
                @if (!string.IsNullOrEmpty(Model.DiscountType))
                {
                    <span>@(Model.DiscountType == CellPhone.Datas.DiscountType.Percent ? Model.DiscountAmount + " %" : "- " + Model.DiscountAmount!.Value.ToString("#,###0", cul.NumberFormat) + " ₫")</span>
                }
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <label>Tổng cộng: </label>
                <span>@(Model.Total!.Value.ToString("#,###0", cul.NumberFormat) + " ₫")</span>
            </div>
            <div class="mb-3 d-flex justify-content-between">
                <label>Đã trả: </label>
                <span>@(Model.PaidMoney!.Value.ToString("#,###0", cul.NumberFormat) + " ₫")</span>
            </div>
            <hr>
            <div class="mb-3 d-flex justify-content-between">
                <label>Công nợ: </label>
                <span>@(Model.Debt!.Value.ToString("#,###0", cul.NumberFormat) + " ₫")</span>
            </div>
            @if (!Model.IsPayment)
            {
                <div class="d-flex justify-content-end">
                    <form action="@Url.Action("Payment", new { id = Model.OrderId})" method="post">
                        <button class="btn btn-outline-dark">Xuất hoá đơn và thanh toán</button>
                    </form>
                </div>
            }
        </div>
    </div>

    <div class="mt-4 w-75" style="text-align: start;">Mã đơn hàng: @(Model.OrderId)</div>
</div>